body {
  background: cornsilk;
}

/* Make the printed page quite concise so that multiple
 * pages are not required in most cases.
 */
.visible-print-block table > tbody > tr > td {
  line-height: 15px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}

/* Pull the total section while printing to the left better
 * so that the numbers are not cut off by some printers.
 * Aligns better with the totals above too.
 */
#print-total {
  margin-right: 50px;
}
